apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app grafana
  namespace: monitoring
spec:
  values:
    extraInitContainers:
      - name: init-db
        image: ghcr.io/home-operations/postgres-init:rolling@sha256:6fa1f331cddd2eb0b6afa7b8d3685c864127a81ab01c3d9400bc3ff5263a51cf
        env:
          #- name: POSTGRES_RESET # True - drops the table upon init if it exists
          #  value: "false"
          #- name: POSTGRES_RESET_CONFIRM # Are you sure you want to do this? 
          #  value: "NO"
          - name: INIT_POSTGRES_HOST
            value: defaultpg-rw.databases.svc.cluster.local
          - name: INIT_POSTGRES_DBNAME
            value: *app
          - name: INIT_POSTGRES_SUPER_PASS
            valueFrom:
              secretKeyRef:
                name: postgres-superuser
                key: password
          - name: INIT_POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: *app
                key: POSTGRES_USERNAME
          - name: INIT_POSTGRES_PASS
            valueFrom:
              secretKeyRef:
                name: *app
                key: POSTGRES_PASSWORD
